<footer>
    <div class="bg-dark">
        <div class="container-fluid padding">
            <div class="row text-center padding">
                <div class="ml-auto mr-auto text-white mt-2">
                    <p>Created by Tarun Duhan <i>@ alpha_21</i></p>
                </div>
            </div>
        </div>
    </div>
</footer>